* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #FFFFFF;
    padding-top: 50px;
}

header {
    background-color: #35091C;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    font-family: 'Lexend Deca', sans-serif;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Lexend Deca', sans-serif;
}

header nav ul li a:hover {
    color: #cceeff;
}

section {
    padding: 50px 20px;
    background-color: #111827;
    margin-top: 80px;
}

section h2 {
    margin-bottom: 20px;
    color: #FFFFFF;
}

section p {
    margin-bottom: 20px;
    color: #FFFFFF;
}

#introduction {
    display: flex;
    align-items: center;
}

.introduction-content {
    flex: 1;
    padding-right: 20px;
}

.introduction-image img {
    max-width: 100%;
    max-height: 100%;
}

#about-me {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 20px;
}

.about-content {
    grid-column: 2 / span 1;
}

#skills {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 20px;
}

.skills-content {
    grid-column: 2 / span 1;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 20px;
}

.project-heading {
    grid-column: 1 / span 1;
    color: #FFFFFF;
}

.project-description {
    grid-column: 2 / span 1;
    color: #FFFFFF;
}

.github-link {
    grid-column: 1 / -1;
    text-align: center;
}

.github-link a {
    color: #007bff;
    text-decoration: none;
}

.github-link a img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

#contacts {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 20px;
}

.contacts-content {
    grid-column: 1 / -1;
}

.contacts-heading h2 {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.contacts-description p {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.contact-info {
    grid-column: 2 / -1;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-top: 10px;
    color: #FFFFFF;
}

.contact-info li a {
    color: #FFFFFF;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #35091C;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
}
